---
layout: withintroduction
title: Activity summary
---

<h1>Activity stats</h1>

<p>
  Who doesn't like to look at the statistics about the total accumulated distance and whatnot? 
  For a long time, I put data into a spreadsheet from RunKeeper/GarminConnect at the end of each month. 
  Then I decided to keep it in a json file, which also gives me the possibility to plot it here.
</p>

<h2>Running distance vs Cycling distance</h2>

<p>Each bar is a month (rightmost is the most recent). Top is running, bottom is cycling. </p>

<!-- link rel="stylesheet" href="/assets/yearcolors.css" -->

{% assign top="Running" %}
{% assign bottom="Cycling" %}
{% include svgVSdiagram.html %}


<h2>Table of annual distances in km</h2>

{% assign sports = "Running|Cycling|Skating|Rowing|Hiking" | split: "|" %}
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Year</th>
      {% for sport in sports %}
          <th scope="col">{{sport}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% assign currentyear = "now" | date: "%Y" | plus: 0 %}
    {% for year in (2013..currentyear) reversed %}
    <tr {% if forloop.first %}class="table-primary"{% endif %} >
      <th scope="row">{{year}}</th>
      {% for sport in sports %}
        {% capture distance %}{% include totaldistance.html %}{% endcapture %}
        {% assign distance = distance | strip | plus: 0%}
        <td>{% if distance > 0 %}{{distance | round}}{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Walking distance vs Hiking distance</h2>

<p>The line between these two is a bit blurry, nevertheless, for me walking is basically commuting, and hiking is walking for the sake of walking itself, mostly in nature. (Note: earlier walking data is manual input from RunKeeper times, which I stopped doing. More recent data is GPS recorded.)</p>

{% assign top="Walking" %}
{% assign bottom="Hiking" %}
{% assign heightmultiplier=2 %}
{% assign barforkm=25 %}
{% assign highlightbar=4 %}
{% include svgVSdiagram.html %}


<h2>Skating distance vs Rowing distance</h2>

<p>Same as above, only with much smaller numbers.</p>

{% assign top="Skating" %}
{% assign bottom="Rowing" %}
{% assign heightmultiplier=2 %}
{% assign barforkm=25 %}
{% assign highlightbar=4 %}
{% include svgVSdiagram.html %}
