


<div class="card" style="width:300px;margin:20px">
  </script><iframe src="//lightwidget.com/widgets/2e77e65f1bb151d7bdceb66a7635a18d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  <div class="card-body">
    <h4 class="card-title"><a href="https://www.instagram.com/runnermate.eu/">Follow me on instagram</a></h4>
    <p>Or maybe <a href="https://www.facebook.com/RunnerMate/">facebook</a>?</p>
    <p>Why not both?!</p>
    <img src="{{site.url}}/assets/Why_not_both.png" style="width:300px">
  </div>
</div>
