


<div class="card" style="width:300px;margin:20px">
  <!-- SnapWidget -->
  <iframe src="https://snapwidget.com/embed/517574" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:300px; height:300px"></iframe>
  <div class="card-body">
    <h4 class="card-title"><a href="https://www.instagram.com/runnermate.eu/">Follow me on instagram</a></h4>


    
    <p>Or maybe <a href="https://www.facebook.com/RunnerMate/">facebook</a>?</p>
    <img src="/assets/Why_not_both.png" style="width:100%">
  </div>
</div>
