<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
<div class="card  my-3">  
  <div class="card-body">
    <h4 class="card-title">Social media</h4>
  </div>
  <!-- SnapWidget -->  
  <iframe src="https://snapwidget.com/embed/517574" class="snapwidget-widget card-img-bottom" allowTransparency="true" frameborder="0" scrolling="no" style="border:none;" height="100%" width="100%"></iframe>    
  <div class="card-body">
    <p>You can follow me on <a href="https://www.facebook.com/RunnerMate/"  target="_blank">facebook</a> or <a href="https://www.instagram.com/runnermate.eu/" target="_blank">instagram</a>.</p>
  </div>
</div>
</div>

