<div class="p-3" style="text-align: justify; text-justify: inter-word;">

    <a href="/"><img class="card-img-top" src="/assets/logo.svg" style="width: 90%; display: block; margin-left: auto; margin-right: auto;"></a>

    <hr />

    <ul class="list-group">      
      <!--a class="list-group-item list-group-item-action" href="https://twitter.com/Runner_Mate">            
        <div class="media">
          <img class="align-self-center" src="/assets/icons/twitter.svg" style="height: 1.5em;"/>
          <div class="media-body ml-3">
            Runner_Mate
          </div>
        </div>
      </a-->
      <a class="list-group-item list-group-item-action"  href="https://www.facebook.com/RunnerMate">            
        <div class="media">
          <img class="align-self-center" src="/assets/icons/facebook.svg" style="height: 1.5em;"/>
          <div class="media-body ml-3">
            RunnerMate
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action"  href="https://www.instagram.com/runnermate.eu/">            
        <div class="media">
          <img class="align-self-center" src="/assets/icons/instagram.svg" style="height: 1.5em;"/>
          <div class="media-body ml-3">
            runnermate.eu
          </div>
        </div>
      </a>      
      <!--a class="list-group-item list-group-item-action"  href="https://www.youtube.com/playlist?list=PL3ORSXyChVS75nOu-hXwJsz0bVlTmxgvb">            
        <div class="media">
          <img class="align-self-center" src="/assets/icons/youtube.svg" style="height: 1.5em;"/>
          <div class="media-body ml-3">
            RunnerMate playlist
          </div>
        </div>
      </a-->
    </ul>  



    <hr />

    <p>Dear visitor, welcome to my blog about running, gadgets, fun stuff, etc.  I am a fun-runner, who is more focused on running/cycling/hiking at beautiful landscapes with a good company, than beating my PB for a given distance. I created this blog to post about stuff that I am often asked about, so that I can just send the link and run instead 😂 Posts are few and far between, and usually long. If this is your cup of tea, then enjoy the content.</p>    
    
    <hr />


    <ul class="list-group">    
      <a class="list-group-item list-group-item-action"  href="/marathonmap.html">            
        <div class="media">
          <img class="align-self-center" src="/assets/icons/marathonmap.jpg" style="height: 1.5em;"/>
          <div class="media-body ml-3">
            Marathon map
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action"  href="/gadgetbudget.html">            
        <div class="media">
          <img class="align-self-center" src="/assets/icons/gadgetbudget.jpg" style="height: 1.5em;"/>
          <div class="media-body ml-3">
            Gadget budget
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action"  href="/summary.html">            
        <div class="media">
          <img class="align-self-center" src="/assets/icons/summary.jpg" style="height: 1.5em;"/>
          <div class="media-body ml-3">
            Activity summary
          </div>
        </div>
      </a>
  </ul>


    <hr />
</div>
