<h1>My marathonmap</h1>

<p class="p-3">I started running in the spring of 2013, and ran my first marathon in the January of 2014 in Marrakech, Morocco. Since then I always bring my running gear with me wherever I go. It is not a serious goal, more like a motivation, but I try to run in as many countries as possible, especially marathon races. So, using <a href="2017/06/09/Pixelmap.html">Pixelmap</a> I created the maps below, which I'll keep updated :-)</p>



<object data="/assets/world.svg" class="p-3" width="100%"></object>

<div class="p-3">
    <h3>The color codes are simple</h3>

    <ul class="list-group" >
      <li class="list-group-item" style="background: black; color: white;">Countries I haven't  visited yet</li>
      <li class="list-group-item"  style="background: lightgray; color: white;">Countries I have visited, but didn't run.</li>
      <li class="list-group-item"  style="background: gray; color: white;">Countries I have visited, and ran there, but not marathon races.</li>
      <li class="list-group-item"  style="background: darkgreen; color: white;">Countries where I ran a marathon race.</li>
    </ul>
</div>

<object data="/assets/europe.svg" class="p-3" width="100%"></object>





