<div class="row">
{% for post in site.posts %}
{% if forloop.index == 2 %}
    {% include instacard.html %}
{% endif %}
<div class="card" style="width:300px;margin:20px">
  <a href="{{post.url | relative_url}}"><img class="card-img-top"  src="{{site.url}}{{post.image}}" alt="{{post.title}}"></a>
  <div class="card-body">
    <h4 class="card-title"><a href="{{post.url | relative_url}}">{{post.title}}</a></h4>
    <p><i>{{post.date|date_to_long_string}}</i></p>
    <p class="card-text">{{post.intro}}</p>
  </div>
</div>
{% endfor %}


</div>
