{% comment %}
  Needs top and botton variable set.
{% endcomment %}

{% assign barwidth=30 %}
{% assign spacing=5 %}
{% if heightmultiplier %} {% else %}{% assign heightmultiplier=1 %}{% endif %}
{% if barforkm %}  {% else %}{% assign barforkm=50 %}{% endif %}
{% if highlightbar %} {% else %}{% assign highlightbar=2 %}{% endif %}


{% assign count = 0 %}
{% assign maxtop = 0 %}
{% assign maxbottom = 0 %}
{% for month in site.data.summary %}
  {% assign count = count | plus: 1 %}
  {% assign currenttop = month[top] | plus: 0 %}
  {% assign currentbottom= month[bottom] | plus: 0 %}
  {% if currenttop > maxtop %}{% assign maxtop = currenttop %}{% endif %}
  {% if currentbottom > maxbottom %}{% assign maxbottom = currentbottom %}{% endif %}
{% endfor %}




{% assign withperbar=spacing | times: 2 | plus: barwidth %}
{% assign width = count | times: withperbar %}
{% assign miny = maxtop | plus: barforkm | times: heightmultiplier | times: -1 %}
{% assign height = maxtop | plus: barforkm | plus: barforkm | plus: maxbottom | times: heightmultiplier %}

{% assign topbarcount = maxtop | divide_by: barforkm | round | plus: 1 %}
{% assign bottombarcount = maxbottom | divide_by: barforkm | round | plus: 1 %}

<svg width="100%" viewBox="0 {{miny}} {{width}} {{height}}">

  {% comment %} BG COLOR THE YEARS  -- currently omitted 
  
  {% assign currentyear = "now" | date: "%Y" | plus: 0 %}
  {% for year in (2013..currentyear) %}
    {% assign x = forloop.index0 | times: withperbar | times: 12 %}
    <rect class="year{{year}}" x="{{x}}" y="{{miny}}" width="{{withperbar|times: 12}}" height="{{height}}" opacity="0.3"></rect>
  {% endfor %}

  {% endcomment %}

  {% comment %} DRAW THE HELPER LINES  {% endcomment %}

  {% assign ntopbarcount=topbarcount|times: -1 %}
  {% for bar in (ntopbarcount..bottombarcount) %}
    {% assign bary=bar|times: barforkm | times: heightmultiplier %}
    {% assign modulobar = bar | modulo: highlightbar %}
    {% if modulobar == 0 %} {% assign color = "gray" %}
    {% else %} {% assign color = "lightgray" %} {% endif %}
    <line x1="0" y1="{{bary}}" x2="{{width}}" y2="{{bary}}" stroke="{{color}}" stroke-width="5" />
    {% if modulobar == 0 %}
      {% if bar != 0 %}
        {% assign absbar = bar %}
        {% if absbar < 0 %} {% assign absbar = absbar | times: -1 %} {% endif %}  
        <text x="0" y="{{bary}}" fill="gray" alignment-baseline="middle" font-size="{{barforkm | times: heightmultiplier}}" stroke="white" stroke-width="{{barforkm | times: 2 | divided_by: 3}}">{{ absbar |times: barforkm}} km</text>
        <text x="0" y="{{bary}}" fill="gray" alignment-baseline="middle" font-size="{{barforkm | times: heightmultiplier}}">{{ absbar |times: barforkm}} km</text>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% comment %} DRAW THE DIAGRAM  {% endcomment %}

  <g transform="scale(1,-1)">
    {% for month in site.data.summary %}
      {% assign x= forloop.index0 | times: withperbar | plus: spacing %}
      {% assign topheight= month[top] | times: heightmultiplier %}
        <rect x="{{x}}" y="0" width="{{barwidth}}" height="{{topheight}}" style="fill:rgb(0,0,255)" >
          <animate attributeName="height" from="0" to="{{topheight}}" dur="1.5s" fill="freeze" />
        </rect>
    {% endfor %}
  </g>
  {% for month in site.data.summary %}
    {% assign x= forloop.index0 | times: withperbar | plus: spacing %}
    {% assign bottomheight= month[bottom] | times: heightmultiplier %}
    <rect x="{{x}}" y="0" width="{{barwidth}}" height="{{bottomheight}}" style="fill:rgb(177, 21, 21)" >
      <animate attributeName="height" from="0" to="{{bottomheight}}" dur="1.5s" fill="freeze" />
    </rect>
  {% endfor %}

  {% comment %} DRAW THE X AXIS  {% endcomment %}

  <line x1="0" y1="0" x2="{{width}}" y2="0" stroke="black" stroke-width="20" />
</svg>

