---
layout: githubpost
title:  "Is running cheap or expensive?"
published: "yes"
source: "github"
intro: 'Running is often considered to be one of the cheapest sports. At the same time, runners spend a fortune on it. So which is it then?!'
imgdir: "/assets/2020-05-23-Is-Running-Expensive/"
dirname: "2020-05-17-Is-Running-Expensive/"
categories: money
---
{% assign imgdir = site.remoteassetdir | append: page.dirname %}

<p>
  While running is a sport which has the cheapest entry cost, we, Runners (with a prideful capital R), tend to spend a huge amount of cash on stuff, perfectly illustrated in this picture: (source: <a href="http://www.goneforarun.com">www.goneforarun.com</a>)
</p>

<a href="http://www.goneforarun.com" target="_blank">
  <img src="/assets/misc/inexpensive.jpg" class="mx-auto d-block img-fluid p-2" alt="Inexpensive sport"> <br />
  
</a>

<p>
  I am too, guilty of this, of course. 
  There are plenty of ways, how you can get your bank account depleted with running: <a href="/race/2018/08/08/5-reasons-to-run-in-Budapest.html">races</a>, <a href="/2018/05/26/Wizz.html">running abroad</a>, <a href="/gadget/2018/12/01/OldGarminGoodGarmin.html">gadgets</a>, <a href="https://www.instagram.com/p/Bsbslf5luoT/">shoes</a> and <a href="/2016/09/02/The-most-awesome-medal-hanger.html">other apparel</a>, etc. 
  Not to mention the total cost of all of the beers I drank after races, community runs, or... you know, just regular runs when the temperature is high enough 😂 🍺.
  It is probably for the best, that I don't know the total sum since 2013. 
</p>

<div class="alert alert-info" role="alert">
  <b>Disclaimer:</b> I will probably <u>not</u> provide you with the holy grail, and make your (running related or otherwise) financial difficulties dissappear. I will also not provide a <i>verdict</i> for the title question. My aim is merely to share my aspects, my point of view, and maybe shine some light on something that you did not think of before, and perheps provide some useful tips.
</div>

<p>
  As extravagant, as I may seem after the posts linked above, I actually keep a strict eye on my expenses, and only purchase things, that fit in my budget with my current financial status, and has sufficent value for the price. 
  I am also pretty sure, that small but frequent expenses add up to more than the ones that stop your heartbeat. 
  What I mean to say is, that <b>perception of cost is often misleading</b>, and I try to be conscious about this when feeling bad about spending a seemingly lot of money on good-quality things.
</p>

<div class="alert alert-success" role="alert">
  My approach will be the following basically: I'll try to normalize everything to "an hourly amortization cost". I live in Hungary, and this post is being written in 2020, so prices for you may differ slightly or big time, but the concept will be the same.
</div>

<h2>Shoes: <span class="badge badge-primary">1.1 $/h</span></h2>

{% capture images %}
  shoes :  A runner has never-ever enough running shoes 😆 
{% endcapture %}
{% include carousel.html %}

<p>
  Running shoes are the first big shock to anyone who <a href="/tips/2019/11/10/My-tips-for-beginners.html">starts running</a>. 
  If you ask anyone experienced, they would tell you, that shoes are the first important investments you have to make if you consider running regularly. 
  Costs of running shoes vary a lot from cheaper "self branded models" to the very new, high-end models of well-established brands. 
  Discounts can also play a big role, but:
</p>

<p>
  I have had plenty of "low-end" shoes from various established brands (Asics, Nike, Saucony, Mizuno, Salomon, Adidas, Hoka ...) and never had any problems. I tried two "self branded" products (not gonna name them here), and was very disappointed. So, let's stick with the regular price in the first category, that is around <b>$110</b>. 
  This is a bit of a shock for someone who buys cheap chineese shoes for everyday use. Those, who buy shoes from "bigger names", this price is actually not that horrifying. 
</p>

<p>
  Regardless, shoes can usually last 1000-1500 km. Because I'm lazy to do complex calculation, I'll say 1100 km. 
  This means, that you amortize your shoes <b>10¢/km</b> (or 6 ¢/mi).
  Now, considering that I run in average with 5:30 min/km (~8:50 min/mi), if I do my differential equations, it will result to something like <b>1.1 $/h</b>.
</p>

<p>
  That is in the same price range as a beer in a cheap pub, an espresso in a coffee shop, a 0.5l coke from a vending machine, or a bus ticket. 
  Keep in mind, that after these shoes served their time (I mean distance), they are usually still pretty good for everyday use (considering it has acceptable colors), or shorter trail runs, working in the garden, etc. 
  I have an old Asics GT-1000 from 2015 that has 2700+ km in it, but still is usable as a pair of regular "outdoor shoes". 
</p>

<p>
  Another thing to take into account is, how much you save on all kinds of injury medication by running in proper shoes. 
  This would of course not be a problem if you weren't running, so I'll not reduce the cost because of that, but if you do anything else, it probably also have such a factor.
</p>

<h2>Quality socks: <span class="badge badge-primary">15 ¢/h</span></h2>

<p>
  Many people recommend good quality socks for running. 
  In my humble opinion, this is far less "needed" than a pair of good running shoes, but also a smaller investment.
  And it is definitely worth it in my eyes, if you have the money.
</p>

<p>
  For a long time I've been running in the cheapest thick socks I can by in SPAR, which costs ~ $3 for 3 pairs. 
  Last year I decided to invest in a pair of Kiprun strap socks from Decathlon. They cost around $9.5 here, so nearly 10 times more expensive than what I used to have, and tenth the price of a pair of good shoes.
  Now, I ran all my longer (half marathon at least) races in those socks, and they were really comfortable, I had much less blisters, irritation, whatsoever. 
  On the other hand, after one year, I got a little hole in one of them, which is probably due to a node on my right foot (old injury,long story), as there is no problem on the left one.
  Regardless, consider this as a worst case. So how many kilometers did they last? Well, if I add my races together, a low estimate would be 700 km. 
</p>

<p>
  Doing some serious math again with the aforementioned average pace, that ends up being <b>15 ¢/h</b>.
</p>


<h2>Shirts/shorts/scarfs/etc.</h2>

<p>
  I honestly don't keep track of these, but I'd assume, that there could be two cases: if you really spare money, and have only a few of these, than the cost is way below that of those socks.
  The other case is that you go to races, buy shirts that you find cool, etc. The former will be addressed later, and the latter probably causes you more expenses in everyday clothing, or would do that if you weren't running.
</p>



<h2>GPS watch: <span class="badge badge-primary">50-70 ¢/h</span></h2>

{% capture images %}
  garmin
{% endcapture %}
{% include carousel.html %}

<p>
  This could be a controversial topic, but I'm certain, that a good (!) GPS watch is the second thing after the shoes that you should buy <u>if your budget can afford it</u>. 
  If you can't, just use your phone, that you probably already have.
  However, if you have at least $50 for this, I would recommend the purchase. 
</p>

<p>
  Similar to the shoes, the range here is pretty big. 
  A 5 year old model in used, but good condition is available usually from $50, and the brand new flagship models cost several hundreds up to a thousand dollars.
  It is not a secret, that I'm a big promoter of Garmin, and I could (and probably will) write a full post about why.
  But for now, let us settle with the fact, that I'm most familiar with Garmin prices, so I'll stick to them in this calculations.
  Garmin often has the reputation of "good quality but more expensive", so it will be a nice "limit case" for this post.
</p>

<p>
  Obviously, the range above is pretty wide, so I'll consider just two cases here, that I think will cover a big protion of runners out there.
</p>

<p>
  <b>Beginner/hobby runner: </b> someone who just started recently, runs twice a week, average distance is around 6-7 km (around 4 mi), wears the watch only for running. 
  For these runners, I believe that a used  Forerunner 30,35 or even 25, or Vivoactive 3 or HR would perfectly be enough. 
  If on a really tight budget, even a Forerunner 15 or the first Vivoactive would do. 
  The latter ones can be bought nowadays for around $50-$70, and the former ones in average around $100. 
</p>

<p>
  But, let us be extravagant and buy the current entry level Forerunner, the 45, that has bluetooth sync, all the fancy metrics (stress, body battery), smart features, Garmin coach and whatnot. Currently this watch is on sale for $150, the original price was $200. 
  Let's take the worst case and spend $200, nearly twice as much as a pair of running shoes, which often makes people think twice about making this step. And cleverly thinking about it is of course, highly recommended, but let's do some maths again.
</p>

<p>
  So, around 13-14 km a week, which adds up to around 700 km a year. 
  Suppose, that this person would use the watch for 2 years only, and then get fed up with running or switch to a new model, so the total usage is around 1400 km. 
  Lets assume a 6 min/km pace, that ends up with 140 hours of usage, and that comes down to <b>$1.4 $/h</b>.
</p>

<p>
  Hm... that seems like a lot, more than the shoes, that are more important, right? 
  Well, we really went for the worst case. 
  Let me try to go for a medium case as well: actual current price for the new Forerunner 45 ($150), and 3 years of usage or including the price for which we can sell it after 2 years. 
  If we do this, the price gets actually halved: <b>70 ¢/h</b>.
  I would consider this as a more realistic case.
  Not to mention that you can actually use that watch for all day HR monitoring, smart notifications, tracking other activities, it can be, you know... a watch, etc. 
  Still considerably more expensive than the socks, and comparable to the shoes, but significantly less expensive than that.
</p>

<p>
  <b>Intermediate runner: </b> someone who runs 3+ times a week: 2 shorter ones, and a longer in the weekend. Annual distance around 1500-2000 km (930-1250 mi), participates in at least 10k-21k races regularly, would wear the watch all day, interested in more "serious stuff". Generally, a bit more dedicated runner. 
  If on budget, these people could also do well with a used Forerunner 235, 735, a Fenix 3, etc., but I'll keep it shorter this time. 
  Let's make this person buy a new watch from the $300 pricepoint: <a href="/gadget/garmin/2020/05/17/Instinct-Review.html">Instinct</a>, Forerunner 245, Vivoactive 4. I know, the last one is currently $350, but the Instinct is $200 on sale, and the Vivoactive 3 is actually $187. So I really just meant the average pricepoint. 
  The "serious runners" who need VO2 max would chose the Forerunner, the outdoor people like me choose the Instinct, and those who prefer a beautiful smartwatch go with the Vivoactive.
</p>

<p>
  Now, these are 50% more expensive than the entry level Forerunner 45, but people in this category usually run at least 1500-2000 km in a year, so at least twice as many as our hypothetical beginner runner above. 
  To keep it short: using a 30 seconds faster average pace, 1750 km in a year, 3 years of usage (or sell for 1/3 price after 2 years), it boils down to <b>60 ¢/h</b>.
  Now, these people often do some cross training (cycling, rowing, swimming, whatnot) as well, so we would probably go way below <b>50 ¢/h</b> with that, but still not counting all the features you get from sleep tracking to smart notifications. 
</p>


<h2>Special nutrition: <span class="badge badge-primary">0-1 $/h</span></h2>

{% capture images %}
  biotech
{% endcapture %}
{% include carousel.html %}

<p>
  Electrolite drinks, gels, NaCl pills, protein shake after an exhausting run, etc. 
  The beginner runner would not need any of these on a regular basis. They can, of course buy and consume these stuff, but that is pretty unreasonable, and can be taught the same way as buying Fanta instead of just drinking water at your home. 
  It is ok to have that personal preference, but definitely not a necessary contribution to the cost of living at home.
  For the intermediate runners above, these are more reasonable, but only for the more difficult runs. 
  Above, we counted one long run a week, and let us assume, that someone consumes a gel in average on those runs, drinks a protein shake after that, and also drinks an electrolite drink during the run. 
  Some would argue, that these poeple should drink protein shake more often, and they are probably right.
  I'm not a nutrition expert, but we said only 1 longer run, so I try to be consistent. 
  Also, I try to compare this to myself. Yes, I drink more protein shakes, but I run/cycle more than mentioned above, and I buy <u>much less</u> electrolite drinks and gels, not to mention that they are provided on races, that contribute big in number to my long runs. 
  So I consider this still an over-estimation.
</p>

<p>
  Bottom line, a gel/drink/protein shake combo costs less than $3 here, especially if you buy in bigger quantities. 
  So, in total around $150 for a year, boiling down to <b>1 $/h</b>.
  We have of course not counted for the extra food that is needed to refill the burned calories (atop those gels). 
</p>

<h2>Races: <span class="badge badge-primary">0 $/h</span></h2>

{% capture images %}
  races 
{% endcapture %}
{% include carousel.html %}

<p>
  Obviously, races are not a must, so the baseline is 0, simple as that. 
  Anything more is just a luxury, that you have to make the decision whether to spend your money on, or not.
  Same as going to the cinema, eating out in a fancy restaurant, going abroad for vacation, buying the best phone, computer game, or whatever you are passionate about. <b>This is not the cost of running. This is the money you are willing to spend on your passion, whatever it is.</b>
</p>

<p>
  But, I'd like to provide an additional perspective here. 
  An obvious cost is the registration fee. That is usually around $10 for a local small race here, and around $30 for a city half marathon, and $60+ for a regular bigger races in western europe if you want to  <a href="/marathonmap.html">travel and run</a>.
  Now, keep in mind, that you also have to travel to the race, and you probably treat yourself a nice meal/beer after that. 
</p>

<p>
  For the local race, traveling is probably within a few bucks in both directions in average, so is a not negligible, but not a big portion (maybe 30-40%) of the registration fee.
  For a medium, city race, cost of traveling from a 100-150 km distance to a city, and either consider full fare public transportation with local transport as well, or fuel costs & car amortization split for 2, the cost would amount to something around $15 - $20 here in Hungary, which is now a bigger factor relative to the resgistration fee. 
  Finally, for a race abroad, the travel cost, ho(s)tel price is much more expensive proportationally to the registration fee. 
</p>

<p>
  It is also important to mention, that races usually provide nutrition, T-shirt in exchange for the registration fee. 
  So if some of those is actually useful for you, then the scale is evern more tilted between registration fee and incidental expenses.
  So my 2 cents for the evaluation of costs for races is that you should pay more attention to travel expenses than registration fees.
</p>

<p>
  Let's note, that sometimes one can find pretty good deals. 
  In the last 2-3 years, I had several 2-4 day trips to run marathons abroad, and the total budget including accommodation, transport, registration fee, (not food) was usually below $100, even for countries like the UK, Greece, and below $150 for Norway, Israel, etc.
</p>

<h2>Final cost of running? <span class="badge badge-primary">2 $/h</span> </h2>

<p>
  There could be a lot of debate about my approach, and I don't even want to defend it. Each runner is different, costs vary in different countries, preferences are different, etc. 
  My point with this post was not to come up with a number of let's say <b>2 $/h</b> for an "intermediate runner". 
  The whole point was to share my way of thinking about these prices. 
</p>

<p>
  If you have an investment, that seems very expensive at first glance, I highly recommend to sit down, and try to come up with such an evaluation. 
  After that, there are still other parameters to consider: necessity, importance, personal budget, etc., but hopefully this helps to make better decisions. 
</p>

<p>
  I've had a few of such investments recently (Edge Explore as an additional bike computer, Garmin Index, Concept 2 rowing machine, etc.), and I (will) dedicate a <a href="/gadgetbudget.html">Gadget budget page</a> for keeping track of such normalized costs of these investments.  
  When they are new, they start off being pretty expensive per hour or per kilometer.
  Then, slowly but surely, they get cheaper and cheaper as time goes by, and their total usage increases.
</p>

