---
layout: githubpost
title:  "Garmin Instinct - Anniversary review"
published: "yes"
source: "github"
intro: 'This watch is my all day companion for over a year now. Here is my experience.'
imgdir: "/assets/posts/2020-05-17-Instinct-Review/"
dirname: "2020-05-17-Instinct-Review/"
categories: gadget garmin 
---
{% assign imgdir = site.remoteassetdir | append: page.dirname %}

<p>
  I have been using my Instinct since last March, had 2700+ km of running tracked with it along with some cycling and other stuff.
  Apart from showering, it was always sitting on my wrist 24-7, and I planned to write about my general experience after 1 year... 
  But we all know that things got pretty much upside down this spring, so better later than never I guess: here is my (mostly subjective) opinion about this watch.
</p>

<h1>tl;dr:</h1>

<p>
  As usual, I was not very mindful about the length of this post, so if you only have 2 minutes to spare: I'm very happy I made the purchase, I like the watch as it is. 
  Love the display, the simplicity, all the Garmin Ecosystem goodies that come with the watch, and many other things.
  The most important thing is: it is a <b>reliable</b> watch, which does, what it needs to do, <b>nothing fancy, just gets the job done</b>. And this is exactly why I love it that much.
  Is it a perfect watch? Definitely not. I have my wishes/ideas/hopes for the Instinct 2, which I will summarize in the next short post. 
  If you really want to read something negative, scroll down to GPS accuracy or to "the window", that is the best (worst?) I can do.
</p>

{% assign width = 10 %}

{% capture images %}
  me_and_my_instinct : Me and my Instinct 🙂
{% endcapture %}
{% include carousel.html %}


<h1>Why a new watch? Why the Instinct?</h1>

<p>
  One and a half year ago I wrote <a href="/gadget/2018/12/01/OldGarminGoodGarmin.html"> a post</a> about how happy I am with my Fenix2-Vivoactive-Edge200 setup.
  In the end of that post I already mentioned, that if I would ever change anything, it will be the purchase of an Instinct.
  I first saw this watch in the October of 2018, when <a href="https://www.dcrainmaker.com/2018/10/garmin-instinct-gps-watch-in-depth-review.html" target="_blank">DCR published his review</a>. 
  I got immediately hyped by the watch: for me, this was a "lightweight" Fenix without the fancy stuff.
  I don't mind the monochrome screen, I loved my Pebble screen back in the day, and I definitely don't mind the absence of Spotify and other hyped stuff.
  At that time, <b>if Garmin would have asked me to provide the specification for my dream watch, the Instinct would have checked almost all of the boxes</b>.
  I felt immediately targeted, and I knew it was only a matter of time, that I get one of these, or their successor. 
</p>

<p>
  So why did it take me 5 months to buy one? Well, my <b>Fenix2-Vivoactive combo worked just fine</b>. The most serious problem I had with the Fenix2 was, that if I had a longer (let's say 2+ hours) run, it was unable to keep the bluetooth connection alive long enough to sync. 
  I had to use the cable occasionally for syncing some activities. What a pain. 
  The Vivoactive was a perfect daily smartwatch, I only missed the wrist heart rate a bit for all kinds of derived metrics. 
  So anyhow, these minor inconveniences were really not enough reason for me to spend $300 on a new watch. 
  I try to keep using my thingies, as long as they are in good shape, and not burden the planet and my wallet with constantly purchasing new stuff.
</p>

<p>
  Then, my brother in law scratched his Vivoactive, and a friend of mine was thinking on buying a bit more advanced watch than his FR15, so I felt that this is a sign for me to say goodbye to these old partners and start a new chapter. (Side note: I just asked, the F2 has 1700+ km since and still going strong!)
  The timing was perfect, I was about to travel to Spain for a week, and then to Malaysia for a month.
  What exotic places to get to know each other!
  <b>On the 1st of March, 2019, I walked into the shop/office of the <a href="http://garmin.hu">Hungarian Garmin distributor</a>, and bought my graphite Instinct 🥳.</b>
</p>

{% capture images %}
  purchase : First glance at my new friend 😇 
  my_precious : My precious! 💍 
  goodbye_f2 : Goodbye Fenix2! 
  goodbye_va : Goodbye Vivoactive! 
{% endcapture %}
{% include carousel.html %}


<h1>The reviewy review</h1>
<p>
  Ok, after all this introduction, let's dig into the details.
</p>

<h2>The display 😍 </h2>

<p>
  While in most of the cases the display is not the most significant part of the specification, or even the second most important one, we have to start with that here.
  Every group has "that guy", who just does things differently from its normal counterparts. 
  For Fitness smartwatches that guy is called Garmin Instinct. 
  While everyone tries to push more and more pixels, amoled displays and whatnot into higher priced units to please the eyes of humans, and make them feel in rainbow land with unicorns... <b>the Instinct just smashes you in the face with its 128x128 monochrome display, and doesn't even feel bad about it</b>.
</p>

<p>
  As said by almost every fitness gadget reviewer when it was released, this will be that type of product, which you either love or hate, there will be not much of a middle ground on that.
  Obviously I belong to the former group, but let's put that aside for a moment. 
  Everyone I have met had to admit one thing: <b>The contrast on the Instinct is just on another level.</b> 
  Photos can't really give that feeling back, but believe me when I say: the contrast on the Instinct makes looking at it eye-pleasing in a different way. 
  The first photo below was shot near the desert in Eilat, Israel around noon, and the other one in Kuala Lumpur similar timing. The display is easy to read even in cases when the most beautiful screens are struggling, and the Instinct does that with veeeery low power consumption and no backlights.
  The third photo is just a regular sunny day on my local commute.
</p>

{% capture images %}
  contrast : The constrast on the Instinct is just superb!
  contrast2 : Still easily readable. (🦋  for scale)
  contrast3 : Just the local commute
{% endcapture %}
{% include carousel.html %}

<p>
  But, "Are 128x128 pixels enough in 2020?" you may ask. 
  It depends. For me, it was still an upgrade from 78x78 on my Fenix2. 
  On all of my data pages I have 3 or less data fields (plus the window, more about that in a minute), and I can easily read them while running, cycling, etc. 
  Browsing the menus, settings, etc., this is more than enough. 
  The widgets may not look that cool as on a new Fenix or Vivoactive, but I'll be honest, 99% of the time, when I'm not tracking an acivity, my watch is just displaying the watchface, and that's it. 
</p>

<p>
  Speaking of watchfaces, there is only a limited set of them, so you can not use a fancy one from a CIQ that displays 60 things at once with an animated Santa Claus in the background. 
  Personally, I am ok with this. I want the simplest watchface. I only need to know the time, date, and battery level. 
  If I need anything else, I can press a few buttons, but after one year, I can tell, that usually I just don't care, what my heart rate is, or how many steps I made today, etc.
  I just look at these later on my phone/notebook.
  I'm a minimalist in many ways, and the Instinct is an excellent partner in that. (Actually my watchface displays more things now than what I want, but I also can not remove them 😆)
  Smart features and navigation will have their separate section below.
</p>

{% capture images %}
  widget_weather : Weather widget (Not so ideal conditions for running in Malaysia 🤣)
  watchface : My current watchface. Could not make it more minimal.
  notif0: ALMOST!
{% endcapture %}
{% include carousel.html %}

<p>
  <b>The window...</b> or however that cut-out circle is called.
  I have mixed feelings about this. 
  On one hand, in many situations it provides place for a nice, small pictogram, that gives an idea, what is displayed on the rest of the screen. 
  I like this for widgets, activity type selection, smart notifications, indication of a paused activity, etc.
  Your eyes learn to look for that part of the screen first, and then get the most basic information out of it. 
  Watch is vibrating, quick glance at the watch, can't yet read the letters, but I see, it is a calendar notification. 
  This is nice, and as I said, I kind of liked it... <br />
  <b>But.</b> There are situations where it gets annoying. 
  <ul>
    <li>During and activity it is pretty much useless. The area is not big enough to display something with large enough fonts to be readable while running. Heart rate, remaining time from a section in a training, etc.</li>
    <li>For smart notifications, that causes a weird wrap for text messages.</li>
  </ul>
  These are not critical things, I don't hate the window per se, but I would probably drop it in the next version, or make it larger, or rethink the data and its rendering there in the aforementioned situations. 
  As an example, for heart rate, the digit in the hundreds is displayed with the same font size as the rest, although that information is completely useless. 
  The heart rate of a person is generally between 40-200, and I'm pretty sure, everyone can feel the difference between 75 and 175. If the 1 would be displayed with a reduced size, and the other two digits with larger fonts, maybe the data would be readable during running. Especially if the screen and the window gets a little bit bigger.
</p>

<h2>Smartwatch and style</h2>

<p>
  I know, still not the "serious techy" stuff, but let's get over with this quickly, as it is strongly connected to the previous part.   
</p>

<p>
  For me, a smartwatch should not be a swiss army knife on my wrist, that does everything instead of the phone. 
  It should just substitute the phone in the situations where the phone is overkill, and reduce the number of times I reach for it in my pocket.
  But it should never-ever make life less comfortable. 
  <b>Do everything where it is most logical, comfortable.</b>
</p>

<p>
  I set up my Instinct notifications following that philosophy. 
  Each notification that is sent to the watch should only require very simple actions from me: a simple read and acknowledgement, a simple decision to ignore it or grab my phone, and follow up, etc.
  Moreover, I'd be pretty annoyed to be interrupted frequently, as most of us would, I presume.
  Fortunately, the Connect app lets me filter the applications, whose notifications are forwarded to the watch. 
  For me, that is a very short list that includes the dialer, sms, calendar app, Garmin Connect, Revolut, and several traveling related applications (Booking, Wizz, Flixbus, etc.)
  The Instinct is more than capable to display these notifications and fulfill its purpose as a smartwatch for me. (Although the window gets in the way sometimes, as seen in some of the examples below.)
</p>

{% capture images %}
  notif_marathon : My favorite notification.
  notif_booking : Part of a message from my hotel from the Booking app.
  notif_challenge : A sad but motivating notification from Connect.
  notif_challenge_won : That is more like it!
  notif_sms : A short confirmation message about the successful bank transfer for a 6h race.
{% endcapture %}
{% include carousel.html %}

<p>
  When a new application is installed on the phone, it is enabled by default. 
  Luckily, when the first notification appears on the watch, it can easily be blocked with 2 button presses.
  I don't forward facebook/instagram/whatsapp messages, as it would bug me more times than I want it to. 
  Reading e-mails or news is also better left for a phone or computer imho.
</p>

<p>
  I seldomly use some other smart features, as looking at the weather widget or the sunset time. 
  Occasionally, I use the "find my phone" feature, that can be a huge time saver. 
  I sometimes controlled the Music/Audiobook app before I bought my JBL headphone that has a few buttons. 
  Worked well for me, but now it is even more comfortable from the headset, so I'm not doing it from the watch anymore. 
  Same principle.
</p>

<p>
  Ok, let's finish the non-technical stuff off with having a few words about "style". 
  I believe that the popularity of Garmin watches can be credited to several reasons.
  Build quality, durability, accuracy, etc. are very important, but Garmin made a huge step when they realized, that a lot of people don't want to wear 24/7 something that screams "I am a sport geek", so they started to put more and more effort into design and looks as well. 
  Just look at the Fenix2 vs. Fenix3, the Vivoactive HR vs. The Vivoactive 3, the Forerunner 20 vs 45, and the list could go on, not to mention the Vivomove, Marq, and Marvel branded series. 
</p>

<p>
  So how does the Instinct perform in this? Well... One would immediately assume, that badly. 
  And that would not be completely wrong of course.
  <b>This is a watch that was advertized with firefighters not lawyers.</b>
  It is the watch that put all its skill points on technical specs, and none on looks.
  People would probably stare at you wearing an Instinct Sunburst (yellow one) for a black tie event. 
  But, if you are a person, who usually dresses in less formal clothes, a well selected Instinct could probably go along with it just fine, and you can make things even more fancy by replacing the bands. 
</p>

<p>
  My case is a bit special, as I'm a minimalist, who prefers black, and works as a university lecturer / IT Engineer.
  So basically, my outfit at work is basically a black shirt, and trousers (jeans) of the same color. 
  The gray (I'm sorry, Graphite) Instinct blends with that outfit nicely, as you can see on the photo below. 
  <b>So far, when wearing a suit, my level of "I don't give a 💩" far exceeded the disturbance in the force caused by the unfancyness of the Instinct. </b>
  Actually, the Graphite version is pretty discrete, people will probably not even recognize it is there unless the really look for it.  
  Bottom line: I'm happy to wear it 24/7 no matter the circumstances.
</p>

{% capture images %}
  camera : I'm happy to wear the Instinct with my regular work attire.
  talk : The Instinct is there, just discretely doing its job. 
{% endcapture %}
{% include carousel.html %}

<h2>Battery life</h2>

<p>
  Battery lifetime became one of the most hyped indicators in the smart/fitness watch business. 
  And I have mixed feelings about this as well.
  When I see people, who never-ever ran an ultra distance, and do not plan to do so, freak out whether a watch really brings the promised 16 hours of GPS battery time from the specification or only 12, I kind of feel the analogy with people looking at 0-100 acceleration time of cars that they intend to buy for commuting in the daily traffic jams of the capital. 
</p>

<p>
  Don't get me wrong, battery life is important, I'm really-really happy, that my watch does not need a charge every evening, and I can peacefully go out for a half marathon with 1 bar left on the indicator.
  So it is important that these watches have a "good enough" battery, but even the entry level watches of Garmin can last a shorter ultra race. 
  So if you are not running the Spartathlon, UTMB, or stuff like that, and belong to the 95% of mortals like me who run/bike/etc. "normal" distances on a regular basis, any Garmin watch will have the sufficient battery to last. 
  The only question is, whether you have to charge it every 3-4, 6-7, or 10-11 days.
  And this is probably true for the "Fitness oriented" smartwatches of other brands too.
</p>

<p>
  But, let's circle back to the Instinct.  The specifications states 14 days of smartwatch mode, 16 hours of GPS mode, and 40 hours of UltraTrac mode.
  Of course, these numbers can change based on the GPS mode used (enable Galileo/Glonass ot not), backlight, temperature, connected sensors, type of data screen, bluetooth connectivity, how many virgins you have sacrificed for Odin yesterday, and a few other things.
</p>

<p>
  But, does the Instinct live up to the specifications?! 
  <b>After 1+ year of testing in all kinds of environments, settings and whatnot, I can confidently state, that I have absolutely no idea. </b>
  And to be honest, I don't even care. 
  I consider this the best indicator of the battery life there can be. 
  It had enough juice to track all my races, trainings, and I did not feel that I constantly had to charge it. 
  That's the main point, isn't it? 
  I can't tell, if I usually charged it every 4 or every 6 days, or even more. 
  And the very fact, that after one year I can't tell anything about this, means a lot.
</p>

<p>
  What I do is simple: when I take a shower, I take off the watch. 
  Not because of the water of course, unsurprisingly, it is waterproof for 15 so meters. 
  Again, I don't even know exactly how deep, as I'm not a diver, so if I'm submerged deeper than my watch can take, I would have more pressing issues to be concerned about.
  So, I prefer cleaning my skin on my left wrist too, which is much simpler if it is not covered by a watch. What a surprise. 
  Also, I don't mind the daily 20 minute gap in my HR reading caused by this. 
  So when I take off my watch before a shower, I simply look at the battery indicator: if it is at 1 bar (or very rarely none), I put it on the charger. 
  This happens once or twice a week, depending on how active I am, and that is good enough for me.
</p>

<p>
  Let's note, that as of now <b>there is no way to display battery percentage</b> on the watch, which is a bit annoying.
  This is the reason why I always wrote 1 bar of charge (out of 5) instead of talking about percents. 
  I don't really know, why Garmin went with this decision, but it is definitely a strange one.
</p>

<p>
  In order not to leave you empty handed, here are some things I actually remember: 
  <ul>
    <li>My longest run with the watch was a 80 km race in the summer, which I did in ~8.5 hours with GPS+Galileo, Navigation on, but not as the main selected page, BLE on, backlight only manual and 10%. I started with a full charge, and ended up with 3 bars remaining.</li>
    <li>A 4.5 h long live tracked marathon in the autumn after 2 days of regular use ate up 1 bar (see picture below) </li>
    <li>Thermal insulation of the Instinct is not great, and batteries generally don't like freezing temperatures. I experienced drastic battery drain when I ran in snowy times with an uncovered Instinct. No exact measurements, but I'd generally suggest to use a scarf or something to provide another layer of insulation for your body heat, that can keep the battery in a more ideal temperature.</li>
    <li>Sorry, that is all I remember.</li>
  </ul>
</p>

{% capture images %}
  battery : Good enough for me.
{% endcapture %}
{% include carousel.html %}


<h2>GPS accuracy</h2>

<p>
  Here we go, this is another part, where we, runners can freak out. 
  Let me cite a very wise man:
</p>

<blockquote class="blockquote bg-white p-5">
  <p class="mb-0 mt-2 font-italic">"There’s likely no topic that stirs as much discussion and passion as GPS accuracy.  A watch could fall apart and give you dire electrical shocks while doing so, but if it shows you on the wrong side of the road?  Oh hell no, bring on the fury of the internet!"</p>
  <footer class="blockquote-footer pt-4 mt-4 border-top">DC Rainmaker</footer>
</blockquote>

<p>
  One would expect that the Instinct can have a better GPS accuracy, as a Fenix, as it does not have a metal casing to cover the GPS antenna.
  My general experience is that the errors in distance are within acceptable range. 
  <b>I think, that my Instinct tends to track slightly less in distance than many other Garmin devices. </b>
  The difference is not big, but recognizable, <b>I would say around 1% or less.</b>
  I had a few marathons where I had to run a little extra in the end to get to 42.2k and get the marathon badge, but that could very well be because of the route. 
  For me, personally, having an error of 200-300 meters on a marathon race is well withing the range I feel comfortable with. 
  Unlike with the Fenix2, I have never experienced "overtracking".
</p>

<p>
  I recognized one systematic error last summer: I went out on the levee road and <a href="https://connect.garmin.com/modern/activity/3728363592" target="_blank">ran 11k in one direction, turned back, and followed the same path</a> to return. 
  The levee road has the perfect conditions in the sense, that nothing covers the sky, everything is wide open, no hills, etc.
  At first, the track seemed perfectly fine, then I zoomed in a little bit. 
  I always run on the left side of the road, and I was happy to see, that my watch really picked up on that, and I can see two nearly parallel curves everywhere. 
  No zig-zags, no serious noise, no crossings, so I was really content. 
  Then I put the satellite map under the track, and recognized that something is fishy. 
  The distance between the curves is much more than the width of the levee road. 
  It changes, of course, but the mean could be around 7-9 m, while the real distance was around 1.5 meters. 
  You can clearly see that on these photos:
</p>

{% capture images %}
  gps1 : The whole track, running in all directions.
  gps2 : A bit closer look, parallel curves already visible.
  gps3 : Something is fishy.
  gps4 : Some parts are less fishy.
{% endcapture %}
{% include carousel.html %}

<p>
  I was baffled by this, so I posted about it in the facebook group of the Hungarian Garmin community. 
  A fellow runner runner raised a point, that the watch may "overcompensate" in the direction it is facing. 
  I wear my Instinct on my left wrist, so it faces left. 
  I ran on the left side of the road there an back too, so if it has an offset in the direction it is facing, this test doubled it.
  To confirm the theory, the next day I went out to <a href="https://connect.garmin.com/modern/activity/3732058077">run the same course</a>, around the same time, with very similar weather conditions. 
  The only thing I changed was, that when I turned around halfway, I put the watch from my left wrist onto my right wrist.
  So, it faced in the same direction "outbound" and "inbound" as well.
  The results were rather conclusive:
</p>

{% capture images %}
  gps21 : Bird-eye view is the same.
  gps22 : Lines already seem closer.
  gps23 : Still a bit apart, but definitely closer.
  gps24 : Some parts seem similar.
{% endcapture %}
{% include carousel.html %}

<p>
  If we put the two tracks on the same map (blue is the first, red is the second), we can see, that the red lines are always closer, but sometimes the offset on the "outbound" part is also smaller. 
  So there is probably more to it, than just this offset, but I got to admit, the watch sometimes (not always) has this, and that can cause the aforementioned 1% inaccuracy itself, if there are a lot of left turns.
</p>

{% capture images %}
  gps31 : Outbound has also less offset.
  gps32 : Red is pretty much the same.
  gps33 : Distance for red curves seems reasonable.
{% endcapture %}
{% include carousel.html %}

<h2>Wrist HRM</h2>

You will not read anything extraordinary here. 
Wrist HRM is a gamble. It either works for you or it does not, and if you take it seriously, you should use a HRM strap. 
Personally, I don't care that much about my heart rate. 
As much as I can see, the 24h measuring seems reasonable, I see the values, that I think I should see. 
For running, I feel, that the watch is ok until 170 or so, but then, if I go extra hard, it doesn't really catch up, sometimes only when I'm after the fast interval, and start catching my breath. 
So, basically, what was expected.
As I'm not training seriously, this is not a biggie for me. 
If I would, I'd use a strap. 

{% capture images %}
  hrm : HR widget for an afternoon.
{% endcapture %}
{% include carousel.html %}

<p>
  One note for this photo: for the indoor rowing I used a strap that showed higher values, but it transmitted that to the Concept2 PM5, which then gave that to ErgData app via BLE, which synchronized it to Logbook, only to be automatically synced to Garmin Connect. 
  Messy, I know, there will be whole post about this chaos (hopefully soon), but the main point is, that the Instinct was not in this loop. 
  So my HR that ended up in the activity was higher than the HR on the Instinct, which is my primary activity tracker. 
  I realized, that because of that, a hard rowing session drained less from my body battery, than a comfortable run. 
  So my workaround was to start an indoor rowing activity on the Instinct as well, so it would use the strap data, and then discard the activity in the end.
</p>

<p>
  A neat feature of the watch is the possibility to  broadcast the HR readings on ANT+. 
  This is a nice backup, if a strap is forgotten.
  Here I tested it with my Edge Explore:
</p>

{% capture images %}
  hrm_broadcast : HR goes Instinct --ANT--> Edge
{% endcapture %}
{% include carousel.html %}

<h2>Navigation & Training</h2>

<p>
  The Instinct provides "only" breadcrumb navigation = you can follow a path made in Garmin Connect / Strava / or anywhere else, and the watch will guide you. 
  This guidance has two parts: first, you can see the course and yourself, and if you detour, a gentle alarm will let you know about that and with a quick glance you can see, what was the mistake, and make a correction.
  The other thing is that if the synced track has directional waypoints in them, they are also displayed.
</p>

<p>
  Some people say, that breadcrumb navigation is not really usable without a map.
  I beg to differ. Unless you are competing, and small mistakes can make you lose valuable seconds, <b>breadcrumb is more than enough</b>. 
  There are these dreaded Y junctions, where you don't really see without a map, which way you should go. 
  True. So what? Pick one, and if its the good one, you win. If not, you will have a beep in 10-20 meters, and you wasted half a minute. 
</p>

<p>
  But then you might say: what if I want to plan the route on the watch? 
  Well, unlike the Fenix5+ series or the Fenix6, you will not be able to do that on the Instinct. 
  For me, personally, this is not a such a big deal, and this goes back to my "smartwatch principle". 
  If I feel lost, the planned route is closed, or for whatever reason I need to plan a new route, I am more than happy to grab my phone from my pocket, and do that on a 10 times bigger touchscreen than on a tiny watch. 
</p>

<p>
  One remark to breadcrumb navigation: be careful to make a good quality course, that really follows the road. If that is not the case, and your watch has a bit of offset (see above), the constant "Course lost/course found" beeps can become pretty annoying. 
  In Hungary, we generally have good quality maps, so that was no issue so far here. 
  For some reason, when I ran in the mountains near Girona, some parts of the course were so badly drawn on the map, that I got a lot of alerts.
  Also, I think a software update helped along the way too.
  One more tip for navigation: turn off the Autoclimb feature if you really want to look at the course, as it will always scroll to that specific page on climbs.
</p>

<p>
  Breadcrumb navigation is nice, and I use it for races, or when I plan a longer run somewhere I travel. 
  But most of the time, when I am traveling, I don't plan my runs ahead, only go out, and follow my heart. 
  When I feel, that it was enough for the day, I just want to get back to the hotel. 
  There was a Back to start feature already in the Fenix2, but that only let you follow the same path backwards, which is not really what I want in these situations. 
  Luckily, the Instinct has the <b>"back to start in straight line" feature, which is fantastic</b>. 
  I love that at least as much as the breadcrumb navigation. 
  It basically shows you in the direction and the bee-line distance to the starting point. 
  Of course, you can have a river, a building block, nuclear reactor meltdown, dragoncave between the two of you, so maybe you will not find the shortest path like this, but it gives a general idea, and helps you find your way back. 
  If finding the shortest path is important, again, there is the phone for that.
  I used this feature a lot, and I mean a LOT. It is easy to start, simple to follow, does what it needs to do. Just love it.
</p>

{% capture images %}
  girona : Exploring the beautiful city of Girona...
  girona2 : ...and finding my way back when I get thirsty for a beer.
{% endcapture %}
{% include carousel.html %}

<p>
  In the second photo above, I had absolutely no idea, where I was, somewhere in the middle of the city, but this feature assured me, that my hostel is in fact only 500 meters away, so I knew that in 1k or so, I'll have my 🍺.
</p>

<p>
  Training... Well, the <b>Instinct can direct and help you to follow a structured training (plan)</b>. 
  Garmin Connect have a pretty neat editor to add steps with specified distance/duration that has to be in a HR/pace/etc. zone, and they can be synced to your watch. 
  Actually, you don't have to do anything, they sync automatically (same for the courses, btw), and even ask you if you want to do a training scheduled for the day, when starting an activity of that type. 
  The Instinct is capable to do this job well, although I assume, that the range indicator is a bit more intuitive on a colorful display with gradients.
  My biggest problem with this is the small window again. 
  This is the area, where the remaining time from the step is displayed, which is not easily readable (at least for me). 
  Other than that, it just works as it supposed to.
</p>

{% capture images %}
  training : Training screen on the Instinct.
{% endcapture %}
{% include carousel.html %}

<h2>Garmin Ecosystem goodies</h2>

<p>
  A big change after the Fenix2 was that some doors opened up from the features that the Garmin Ecosystem provides.
  Just to name a few:
  <ul>
    <li>Body battery, stress level readings, daily overview are now available and more meaningful.</li>
    <li>Finally got the Intensity badges 😛 </li>
    <li>Garmin coach</li>
    <li>Live tracking, incident detection</li>
    <li>Better sleep tracking (though still no smart wake up)</li>
    <li>A few navigation features (above)</li>
    <li>Autoclimb</li>
    <li>Probably a few things I forget to mention</li>
  </ul>
</p>

<p>
  There are plenty of other small things, that were new after changing from Fenix2, but are natural now, like the auto backlight during activities in the night (gotta love, how detailed the settings are).
  But since these are now the new normal, I can't really recall them.
</p>


<h2>The Instinct Tribe</h2>>

<p>
  Let's finish this (yet again overly long) post on an upbeat. 
  Having an Instinct is like choosing team Mystic in Pokemon Go. 
  We (think we) are the odd ones, the misfits, the divergents, pick a name. 
  A lot of people have dozens of different Forerunners, plenty have the various models of the Fenix series, Vivoactive also had a few versions, etc.
  These are the mainstream watches, but <b>there is only one Instinct!</b> (Let us forget about the tactical version for now.)
  So if two people meet, and both of them have an Instinct, a friendship is born 😄 
</p>

{% capture images %}
  tribe : Fashionable for ladies too!
  tribe2 : Zurich Neujahrsmarathon with the only other Hungarian participant... who also had and Instinct.
  tribe3 : Even this FR235 wants to be an Instinct 
{% endcapture %}
{% include carousel.html %}

<p>
  But ultimately, my favorite Instinct photos are the ones that I took with a well deserved beer and a medal after a marathon. 
  With a few of these, let me wish you a nice day, and give my kudos for reading all the way through 😆 
</p>

{% capture images %}
  beer0 : Milton Keynes, UK
  beer1 : Bovec, SL
  beer2 : Zalakaros, HU
  beer3 : Timisoara, RO
{% endcapture %}
{% include carousel.html %}
