---
layout: githubpost
title:  "Training with a coach<br>Part 2: Honeymoon period"
published: "yes"
source: "github"
intro: "Second part of the series about the first experiences and impressions with structured workouts. Oh... and that's ma boss ☝️."
imgdir: "/assets/posts/2022-07-19-Training_with_Coach_Part_2/"
dirname: "2022-07-19-Training_with_Coach_Part_2/"
categories: coach training
---

{% assign imgdir = site.remoteassetdir | append: page.dirname %}

<p>
  Been away for a year again, but let us hope, that I still remember what I wanted to share in this post. 
  As per usual, it will probably be pretty long, not well edited, but hey, if you are here, you already know that.
  So without further ado, let's get into into it. 
</p>

<h2>Test run - <a href="https://ifunny.co/picture/so-what-s-your-idea-of-a-perfect-date-yyyy-yiT8cIp69?s=cl">2020.11.17.</a></h2>

<p>
  I had my <a href="https://connect.garmin.com/modern/activity/5834473353">test run</a> on the 17th of November, 2020. 
  To tell the truth, I was not in my best shape, I didn't run much in the two months before that. 
  The task was simple: 
  <ol>
    <li>15 minutes warm up with a comfortable pace</li>
    <li>1.5 minute recovery</li>
    <li>30 minutes all-out</li>
    <li>1 km cool down</li>
  </ol>
  The weather conditions were ideal, no elevation on the levee road. 
  I felt great, and ran the first part with a 4:44 min/km pace and 162 bpm HR. 
  After the recovery I thought I will turn it up a notch, and started off with a 4:00 min/km pace. 
  My HR started to increase immediately of course,  8 minutes into the third step it reached 190 bpm or so. 
  Note, that I was 35 at this point, so this is probably around my max HR. 
  From this point on, my pace started to decline, while the HR stayed put in the same range (185 and above). 
  Half into the third step I was around a 4:25 pace; 5 minutes before the end I was around 5:00, slower than my warm up. 
  At this point, I had a short little recovery, and tried to gain some speed for the finish. 
  The following graph tells the story pretty well:
</p>

{% capture images %}
  testrun: Turning point during the test-run
{% endcapture %}
{% include carousel.html %}

<p>
  Even after the cool down, I needed 3 minutes of easy walking to get my HR to the normal level. 
  So, long story short, my first run was not a great success 😂
</p>

<h2>Getting used to structured workouts</h2>

<p>
  2 days after my testrun I received my first workout, and 2 more for the same week. 
  The first workout had everything in it: after a warmup and a longer "active" period, there were some intervals. 
  Longer (3 min / 2 min) less intensive and shorter (30 sec / 90 sec) more intensive ones too.
  My trusted <a href="https://www.dcrainmaker.com/2020/07/garmin-instinct-solar-review-whats-new-different.html">Garmin Instinct</a> gave me proper instructions (more on that in Part 3), but my HR just kept bouncing between the lower and upper limits of the interval.
  That was the case even during long and steady training steps, with no hills or any difficulties in a 20 km radius.
</p>

{% capture images %}
  impossibru
{% endcapture %}
{% include carousel.html %}

<p>
  What can I say... in the first few weeks I heard the "high HR" / "in the zone" / "low HR" beeps of my Instinct so many times, that I learned them rather quickly. 
  I will be completely honest: <b>this period was really annoying.</b>
  Do you know a person, that finds something to criticize every 30 seconds? 
  That was my <del>coach</del> watch during these runs.
  Let me just borrow the words of Francis Duflot from <a href="https://www.imdb.com/title/tt0401445/">A good year</a>, which kind of sums up my feelings of that time:
</p>

{% capture images %}
  agoodyear
{% endcapture %}
{% include carousel.html %}

<p>
  Truth to be told, at least these runs weren't boring. 
  Due to the 2nd wave of Covid in Hungary, I didn't really meet up with other friends, and the the never ending levee roads nearby became very repetitive very quickly. 
  Unfortunately, I had no other choice without a car, as I tried to avoid public transportation.
  So, annoying was better than boring, I guess.
</p>

<p>
  However, in a very short time <b>my mind switched to autopilot: when my watch beeped something, I adjusted my pace accordingly, without thinking about it</b>. 
</p>

<p>
  And then... my Instinct stopped beeping.
  No malfunction, I just learned somehow how to keep my HR steady. 
  More than that, in a month or so, I got to learn, how hard I should push to get to (and stay in) different zones.
</p>

{% capture images %}
  firenation
{% endcapture %}
{% include carousel.html %}

<p>
  So yeah... 1 month into my training, I moved back to my parents house for a month. 
  That region, <b><a href="https://tastehungary.com/journal/zala-wine-region/">Zala and Somogy county</a> can not really be considered "hilly"</b>, not even with Hungarian standards, and our highest mountaintop sits just above 1000 meters.
  However, it is not completely flat either, as my previous place was. 
  It is not really possible to run more than 5 minutes straight uphill, <b>but it is equally difficult not to ascend or descend a little all the time</b>. 
  So, just when I finally started to feel good about myself, I had to re-learn everything. 😂 
</p>

{% capture images %}
  zala1: Typical Zala/Somogy; small bumps as far as the eye can see.
  zala2: Spot the flat surface.
  zala3: Many-many wineyards.
  zala4: Sneaky little ascent.
{% endcapture %}
{% include carousel.html %}

<p>
  However, eventually, I got used to small hills, light gradients, and knew exactly, how much I had to slow down when the climb starts, and how much more I should push on a descent. 
  Then... I moved to Sopron, where the elavation profile of one of my favorite routes look like this:
</p>

{% capture images %}
  sopron
{% endcapture %}
{% include carousel.html %}

<h2>No photo stops 😱 📷</h2>

<p>
  As I have probably mentioned in the <a href="/coach/training/2021/07/29/Training_with_Coach_Part_1.html">previous post</a>, I consider training with a coach as a job, not as a hobby. 
  <a href="https://www.instagram.com/zsuuuuzsi/">My lady</a> gives me orders, and I... well... execute them, as well as I can.
  Stopping to take a photo doesn't really help there. 
</p>

<p>
  In the beginning, this was, again, a nuisance. 
  <b>There are so many beautiful shots I missed.</b> 😥
  Weak rays of the sun piercing through the fog in the morning in the middle of the forest, curious deers looking at me from the side of the road, snowy hills, etc.
  Even though I knew, that I have a potato for a phone, it still bugged me, that I just run by all those beautiful things 😠. 
</p>

<p>
  <b>Then, my perspective changed...</b> 
  After I made the decision to take workouts seriously, there wasn't really anything I could do to change this situation. 
  Well, I could have strapped a Gopro to myself all the time, but... nah. 
  So, I kind of accepted, that this is how things are, and the logical conclusion was to <b>enjoy the moment there and then</b>. 
  Previously, instead of just looking at those things, I'd immediately grab my phone, and look at these things through my camera/screen.  
</p>

<p>
  So, rather unexpectedly, <b>structured workouts taught me to disconnect from the digital world while running.</b>
</p>

<p>
  I would lie if I were to tell you that I never stop to take a photo. 
  After more than 1.5 years of running with my coach, I know when I won't degrade my training by stopping for a few seconds.
  So I do occasionally take a photo, especially if I want to share something beautiful with my friends or family.
  But I interrupt myself much less than I would have 2 years prior.
  Here, 3 photos taken on the shown route in the autum/winter/spring:
</p>

{% capture images %}
  sopron_autumn: Autumn. Nobody fell from anywhere.
  sopron_winter: Winter.
  sopron_spring: Spring.
{% endcapture %}
{% include carousel.html %}

<h2>Damn, I'm getting faster!</h2>

<p>
  I'll only briefly touch this topic here, as it will be discussed more in Part 4. 
  But even in the first couple of weeks, I was able to see the difference.
  Besides a few races, I've never pushed myself, definitely not during mid-week runs. 
  So I wasn't really accustomed to run fast (with my standards). 
</p>

<p>
  Long story short, I <a href="https://connect.garmin.com/modern/activity/6149451979">re-run</a> my 30 minute test on the 22nd of January, 2021, basically 2 months after I started.
  My pace moved from 4:26 min/km to 3:59 while the average heart rate went down from 186 to 177. 
</p>

{% capture images %}
  testrun2
{% endcapture %}
{% include carousel.html %}

<p>
  The graph is pretty self explanatory. 
  My pace was steady, and although my HR increased, it was much better. 
</p>

<h2>That's it?!</h2>

<p>
  Well, yes. 
  I can't give a good excuse why this took me one year to write. 
  Nevertheless, I will try to roll out Part 3 and 4 faster. 
  Since I'm injured at the moment, I have time to write about running instead of actually running...
</p>

<p>
  Anyhow, I'm glad if you found anything interesting in this post, as always, thanks for reading, and have a nice day!
</p>