/* Marathon */
#MA, #HU, #TR, #SK, #IS, #CY, #MK, #AT, #ME,#GR,#NO,#ES{
    fill: darkgreen;
    stroke: white;
}

/* Did run, but no marathon */
#FR,#DE,#IT,#CZ,#SI,#HR,#RO,#MT,#EG,#PL,#BG, #MY {
    fill: yellowgreen;
}

/* Been to, didn't run */

#US,#ZA,#UA {
    fill: gray;
}
