/* Marathon */
#MA, #HU, #TR, #SK, #IS, #CY, #MK, #AT, #ME,#GR{
    fill: darkgreen;
    stroke: white;
}

/* Did run, but no marathon */
#FR,#DE,#IT,#CZ,#SI,#HR,#RO,#MT,#EG,#PL,#BG {
    fill: yellowgreen;
}

/* Been to, didn't run */

#ES,#US,#ZA,#UA {
    fill: gray;
}
