/* Marathon */
#MA,#HU,#TR,#SK,#IS,#CY,#MK,#AT,#ME,#GR,#NO,#ES,#MY,#HR,#SI,#CZ,#RS,#RO,#IL,#CH,#GB,#EE,#IT,#FI{
    fill: darkgreen;
    stroke: white;
}

/* Did run, but no marathon */
#FR,#DE,#MT,#EG,#PL,#BG{
    fill: yellowgreen;
}

/* Been to, didn't run */

#US,#ZA,#UA {
    fill: gray;
}
