.year2013 { fill: rgb(255,255,255); }
.year2014 { fill: rgb(255,217,137); }
.year2015 { fill: rgb(127,191,127); }
.year2016 { fill: rgb(153,204,255); }
.year2017 { fill: rgb(255,255,153); }
.year2018 { fill: rgb( 51, 79, 49); }
.year2019 { fill: rgb(217, 43,142); }
.year2020 { fill: rgb(127,127,255); }

